<section class="container">
  <h1 translate="home.TITLE">Welcome to Common-Services!</h1>
  <nav class="collapse navbar-collapse" role="navigation">
    <ul class="nav navbar-nav">
      <li class="active"><a ui-sref="home" translate="home.HOME">Home</a></li>
      <li><a ui-sref="dashboard" translate="home.DASHBOARD">Dashboard</a></li>
    </ul>
  </nav>
  <div class="well">
    <div class="intro">
      <h2 translate="home.SUB_TITLE">Common Services V2.0</h2>
      <hr>
        <p><strong><span translate="home.USAGE">Usage</span>:</strong></p>
      <p><span translate="home.TODO"></span>...</p>
    </div>
  </div>
  <div id="footer">
    <p translate="home.BASED_ON">Based on MEAN.js v0.5.0</p>
  </div>
  </div>
</section>
