<div id="change_password_container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"><h2 translate="password.TITLE">Change Password</h2></div>
    </div>
    <div class="panel-body">
      <form id="change_password_form" class="change-password-form form-horizontal" role="form" name="changePwdForm" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : changePwdForm.password.$invalid && !changePwdForm.password.$pristine}">
          <label for="inputPassword1" class="col-sm-6 control-label text-left"><span translate="password.OLD_PASSWORD || 'Old Password'">Old Password</span>: </label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="inputPassword1" name="password" ng-model="vm.passwords.password" placeholder="{{'password.OLD_PASSWORD' || 'Old Password' | translate}}" ng-minlength="6" required>
          </div>
          <p ng-show="changePwdForm.password.$error.minlength" class="help-block ng-hide text-center" translate="error.MIN_LENGTH" translate-values="{length: 6}">Minimum Length is 6</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : changePwdForm.newpassword.$invalid && !changePwdForm.newpassword.$pristine}">
          <label for="inputPassword2" class="col-sm-6 control-label text-left"><span translate="password.NEW_PASSWORD">New Password</span>: </label>
          <div class="col-sm-6">
            <input type="password" class="form-control" name="newpassword" id="inputPassword2" ng-model="vm.passwords.newPassword" placeholder="{{'password.NEW_PASSWORD' || 'New Password' | translate}}" unmatch="vm.passwords.password" ng-minlength="6" required>
          </div>
          <p ng-show="changePwdForm.newpassword.$error.minlength" class="help-block ng-hide text-center" translate="error.MIN_LENGTH" translate-values="{length: 6}">Minimum Length is 6</p>
          <p ng-show="!changePwdForm.newpassword.$pristine && changePwdForm.newpassword.$error.unmatch" class="help-block ng-hide  text-center" translate="password.DIFFERENT_OLD">Must Be The Different From Old Password</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : changePwdForm.confirmpassword.$invalid && !changePwdForm.confirmpassword.$pristine}">
          <label for="inputPassword3" class="col-sm-6 control-label text-left"><span translate="password.CONFIRM_PASSWORD">Confirm Password</span>: </label>
          <div class="col-sm-6">
            <input type="password" class="form-control" name="confirmpassword" id="inputPassword3" ng-model="vm.passwords.confirmPassword" placeholder="{{'password.CONFIRM_PASSWORD' || 'Confirm Password' | translate}}" match="passwords.newPassword" ng-minlength="6" required>
          </div>
          <p ng-show="changePwdForm.confirmpassword.$error.minlength" class="help-block ng-hide text-center" translate="error.MIN_LENGTH" translate-values="{length: 6}">Minimum Length is 6</p>
          <p ng-show="!changePwdForm.confirmpassword.$pristine && !changePwdForm.confirmpassword.$error.minlength && changePwdForm.confirmpassword.$error.match" class="help-block ng-hide text-center">Must Be The Same As Above</p>
        </div>
      </form>
    </div>
    <div class="panel-footer text-right">
      <input type="reset" class="btn" value="{{'common.RESET' | translate}}" ng-click="vm.reset()">
      <input id="change_password_button" type="submit" class="btn btn-default" ng-click="vm.changePassword()" ng-disabled="changePwdForm.confirmpassword.$invalid" value="{{'common.CONFIRM' | translate}}">
    </div>
  </div>
</div>
